PlanetFramework/Debug
PlanetFramework/Release
*.ipch
*.db
PlanetFramework/.vs
PlanetFramework/PlanetFramework.VC.db
PlanetFramework/PlanetFramework.VC.db
/PlanetFramework/PlanetFramework.VC.VC.opendb
/PlanetFramework/Screenshots

/build/obj
/bin
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.sln
*.VC.opendb

*.make
Makefile
build/obj/
build/obj
build/obj/*

bin/*
bin/
